.menu-container{
    height: 100%;
}

ul{
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: stretch;
    flex-flow: column wrap;
}

ul li{
    padding: 3px;
}

ul li a{
    width: 100%;
    text-align: left;
}

mat-toolbar{
    top: 0;
    position: fixed;
    z-index: 1;
}