<mat-drawer-container class="menu-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <ul>
      <li>
        <a mat-button color="primary" (click)="drawer.toggle(); cambiarTitulo('Predicción de cancer de mama')" routerLink="./cancer_de_mama">
          Predicci&oacute;n de c&aacute;ncer de mama
        </a>
      </li>
      <li>
        <a mat-button color="primary" (click)="drawer.toggle(); cambiarTitulo('¿Cómo funciona?')" routerLink="./preguntas_frecuentes">
          ¿C&oacute;mo funciona?
        </a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
       <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        <span class="example-spacer"></span>
        {{ encabezado }}
      </button>
      <span></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



